<?xml version="1.0" encoding="UTF-8"?>
<CLISH_MODULE xmlns="http://clish.sourceforge.net/XMLSchema" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xsi:schemaLocation="http://clish.sourceforge.net/XMLSchema
                     http://clish.sourceforge.net/XMLSchema/clish.xsd">
	<!--=======================================================-->

<VIEW name="enable-view">

	<!-- OS MISC -->

   	<COMMAND name="show system" lock="false" help="Show OS Information" interrupt="true"/>

   	<COMMAND name="show system memory" lock="false" help="Show Memory usage" interrupt="true"/>
   	<COMMAND name="show system memory hogs" lock="false" help="Show Memory Hoggers" interrupt="true">
       		<ACTION>ps -A --sort -rss -o comm,pmem | head -n 11</ACTION>
   	</COMMAND>

   	<COMMAND name="show system disk" lock="false" help="Show Memory usage" interrupt="true"/>
   	<COMMAND name="show system disk usage" lock="false" help="Show Memory Hoggers" interrupt="true">
       		<ACTION>df -h</ACTION>
   	</COMMAND>

   	<COMMAND name="show system processes" lock="false" help="Show Memory usage" interrupt="true"/>
   	<COMMAND name="show system processes top" lock="false" help="Show Memory Hoggers" interrupt="true">
       		<ACTION>top</ACTION>
   	</COMMAND>



</VIEW>

</CLISH_MODULE>
