Source: ngcp-klish-config
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Uploaders: Victor Seva <vseva@sipwise.com>
Build-Depends: debhelper (>= 9~),
               libtemplate-perl
Standards-Version: 3.9.7
Section: shells
Homepage: https://github.com/sipwise/ngcp-klish-config

Package: ngcp-klish-config
Section: shells
Architecture: any
Depends: klish,
         lua-ngcp-klish,
         lua5.1,
         pssh,
         ${misc:Depends},
         ${shlibs:Depends}
Conflicts: klish-default-config
Description: NGCP config for klish
 This package provides the NGCP config for klish.

Package: lua-ngcp-klish
Section: libs
Architecture: any
Depends: lua-dbi-mysql,
         lua-socket,
         lua-uri,
         lua-yaml,
         ${misc:Depends},
         ${shlibs:Depends}
Description: lua libs for ngcp-klish-config
 This package provides the lua ngcp lib that ngcp-klish-config
 uses.

Package: ngcp-templates-ce-klish
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Configuration templates for NGCP Klish/Clish
 Configuration templates for Klish/Clish management of
 NGCP services. This package is part of NGCP platform's
 configuration framework.
 .
 This package provides the configuration files for the
 Sipwise sip:provider Community Edition (CE).

Package: ngcp-templates-pro-klish
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Configuration templates for NGCP Klish/Clish
 Configuration templates for Klish/Clish management of
 NGCP services. This package is part of NGCP platform's
 configuration framework.
 .
 This package provides the configuration files for the
 Sipwise sip:provider Professional Edition (PRO).
